html, body {
    margin: 0;
    height: 100%;
}

.container {
    height: inherit;
}

#box {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin: 1% auto;
    height: 80%;
}

#palette {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    border: 1px solid black;
}

.settings-row {
    margin:0 auto;
    font-family: 'Oswald', sans-serif;
}


.settings {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin: 0% .1%;    
}

.shape {
    stroke: black;
    stroke-width: 2px;
}
.selected-shape {
    stroke-width: 5px;
}